@import url('https://fonts.googleapis.com/css2?family=Sansita:wght@400;700&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sansita', sans-serif;
    font-size: 18px;
    letter-spacing: 1.2px;
   
}
.wrapper{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #FFFFFF 20%, #0d2eeb 80%);
    
}
.container{
    position: relative;
    text-align: center;
    top: 10%;
}
.container h1{
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    transition: all 1s ease-in-out;
    padding: 0px;
    margin-top: 10px;
    
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-top: 2px;
}

.btn {
    display: inline-block;
    width: 200px;
    background: #c5ac94;
    font-size: 20px;
    color: #FFFFFF;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
}
.btn:hover {
    background: #f84e4e;
    color: #FFFFFF;
    text-decoration: none;
}

form {

}

.card {
    background-color: #c5ac94;
    width: 600px;
    height: 200px;
}